<div class="container-fluid">

      <!-- Modal Structure -->
  <div id="arena-modal" class="modal arena">
    <div id="modal-name"></div>
        <div id="modal-stats"></div>     
    
      <div class="arena">
        <image src="https://cdnb.artstation.com/p/assets/images/images/001/993/117/original/tom-duffus-untitled-2.gif?1455667100"></image>
      </div>>
        
        <div id="modal-battle-end"></div> <!-- You Win / Lose -->
        <div id="money-gainz"></div>
        <div id="modal-combat-log"></div> <!-- what you have vs them-->
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat to-robots" data-user-id="{{user_id}}">Return To Bay</a>
    </div>
  </div>

    <div class="card grey">
      <div class="row center-align">
        <div class="col-s6">
          <h3>BattleBots Arena!</h3>
          <h4>Who Would You Like to Battle?</h4>
    </div>
        </div> 
            </div>

            <div class="card grey">
             <div class="row center-align">
                    <h4>robot name:{{name}}</h4>
                <p>Attack rating: {{total_damage}}</p>
                <p>Defense rating: {{total_armor}}</p>
            </div>  
            </div>
 

            <div class="card grey">
             <div class="row center-align">
                 <h3>Enemy Robots</h3>
                    <h4>Robot Name: Easy Bot</h4>
                    <div class="btn dualcolorbutton easyBattle" data-attack-id="{{total_damage}}" 
                    data-defense-id="{{total_armor}}" data-name-id="{{name}}"> BattleBot</div>
            </div>  
            </div>

                  <div class="btn to-robots" data-user-id="{{user_id}}">Back</div>

    </div>

    <script src="/assets/scripts/arena.js"></script>


        













</div>  <!--cont end-->
<style>
  .backGroundImage {
  background-image:url("https://cdn.mos.cms.futurecdn.net/8vp7zoyQtDNjrrSUmws5Y6.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  }
  .arena {
  background-image:url("https://i.ytimg.com/vi/V4coxpz_zII/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  }
</style>

