<div class="container-fluid">

      <!-- Modal Structure -->
  <div id="arena-modal" class="modal">
    <div id="modal-name"></div>
        <div id="modal-stats"></div>
        <div id="modal-battle-end"></div> <!-- You Win / Lose -->
        <div id="money-gainz"></div>
        <div id="modal-combat-log"></div> <!-- what you have vs them-->
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat to-robots" data-user-id="{{user_id}}">Return To Bay</a>
    </div>
  </div>

    <div class="card grey">
      <div class="row center-align">
        <div class="col-s6">
          <h3>BattleBots Arena!</h3>
          <h4>Who Would You Like to Battle?</h4>
    </div>
        </div> 
            </div>

            <div class="card grey">
             <div class="row center-align">
                    <h4>robot name:{{userRobot.name}}</h4>
                <p>Attack rating: {{userRobot.total_damage}}</p>
                <p>Defense rating: {{userRobot.total_armor}}</p>
            </div>  
            </div>
 

            <h3>Enemy Robots: </h3>
                {{#each enemyRobots}}
            <div class="card grey">
             <div class="row center-align">
             
                    <h4>Robot Name: {{name}}</h4>
                <p>Attack rating: {{total_damage}}</p>
                <p>Defense rating: {{total_armor}}</p>
                    <div class="btn dualcolorbutton easyBattle" data-enemyAtk="{{total_damage}}" 
                    data-enemyDef="{{total_armor}}" data-enemyName="{{name}}" data-userAtk="{{../userRobot.total_damage}}" data-userDef="{{../userRobot.total_armor}}"> BattleBot</div>
            </div>  
            </div>
                {{/each}}

                  <div class="btn to-robots" data-user-id="{{user_id}}">Back</div>

    </div>

    <script src="/assets/scripts/arena.js"></script>


        













</div>  <!--cont end-->

