<div class="row center-align">
    <h3>Store</h3>
    <h5>Available Funds: ${{user_wallet.amount}}</h5>
    <p id="wallet-validation" class="validation-text helper-text hidden"></p>
</div>

<div class="row ">
    <div class="col s12  z-depth-0">
        <table>
            <thead>
                <tr>
                    <th>Part Name</th>
                    <th>Attack</th>
                    <th>Armor</th>
                    <th>Cost</th>
                    <th>Quantity</th>
                    <th>Purchase</th>
                </tr>
            </thead>
            <tbody>
                {{#each available_parts}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{damage}}</td>
                    <td>{{armor}}</td>
                    <td>${{cost}}</td>
                    <td>
                        <div class="input-field col s12">
                            <select id="part-quantity-{{id}}">
                                <option value="0" disabled selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="btn waves-effect waves-light purchase-part" data-user-id="{{user_id}}" data-part-id="{{id}}" data-part-cost="{{cost}}">Purchase</div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="row center-align">
    <div class="btn to-robots" data-user-id="{{user_id}}">Back</div>
</div>

<script src="/assets/scripts/store.js"></script>
 <style>
  .backGroundImage {
  background-image:url("https://cdn.vox-cdn.com/thumbor/s08XVV2zp46uhdSxSusuOq_NPTw=/2600x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/9753583/MechWarrior5_Hangar_04.png");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  }
  </style>