<div class="row">
  <div class="col s8 offset-s2">

  <!-- Modal Structure -->
  <div id="replace-part-modal" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>

    <div class="row center-align">
      <h3>{{robot_name}}</h3>
    </div>
      

    {{#each robot_parts}}
    <div class="card grey">
      <div class="row">
        <div class="col s8">
          <h4>{{description}}</h4>
          <h5>Current Part: {{part_name}}</h5>
          <p>Attack rating: {{damage}}</p>
          <p>Defense rating: {{armor}}</p>
        </div>

        <div class="col s4">
          <div class="btn waves-effect waves-light modal-trigger replace-part" data-user-id="{{user_id}}" data-robot-id="{{robot_id}}" data-part-position="{{position_id}}">Replace</div>
        </div>
      </div>
      
    </div>
    {{/each}}

    <div class="row center-align">
      <div class="btn to-robots" data-user-id="{{user_id}}">Back</div>
    </div>
    
  </div>
</div>

<script src="/assets/scripts/robotbay.js"></script>