<div class="row">
  <div class="col s12 center-align">
    <h4>Battle History: {{battleResults.wins}} - {{battleResults.losses}}</h4>
  </div>
</div>
<div class="row">
  <div class="col s8 offset-s2">

    {{#each robots}}
    <div class="card grey">
      <div class="row">
        <div class="col s8">
          <h4>{{name}}</h4>
          <p>Attack rating: {{total_damage}}</p>
          <p>Defense rating: {{total_armor}}</p>
        </div>

        <div class="col s4">
          <div class="btn dualcolorbutton edit-robot" data-user-id="{{user_id}}" data-robot-id="{{robot_id}}">Configure</div>
        </div>
      </div>
      
    </div>
    {{/each}}

    <div class="row center-align">
      <div class="btn create-bot dualcolorbutton" data-user-id="{{user_id}}">Create New Robot</div>
      <div class="btn to-store dualcolorbutton" data-user-id="{{user_id}}">Store</div>
    </div>
    
  </div>
</div>

<script src="/assets/scripts/robots.js"></script>