<div class="row heightanager">
  <div class="col s8 offset-s2">

  <!-- Modal Structure -->
  <div id="replace-part-modal" class="modal ">
    <div class="modal-content modalGradientBackground">
    </div>
    <div class="modal-footer modalGradientFooter">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>

    <div class="row center-align">
      <h3>{{robot_name}}</h3>
    </div>
      

    {{#each robot_parts}}
    <div class="card grey heightManager">
      <div class="row">
        <div class="col s8">
          <h4>{{description}}</h4>
          <h5>Current Part: {{part_name}}</h5>
          <p>Attack rating: {{damage}}</p>
          <p>Defense rating: {{armor}}</p>
        </div>

        <div class="col s4">
          <div class="btn waves-effect waves-light modal-trigger replace-part-prompt" data-user-id="{{user_id}}" data-robot-id="{{robot_id}}" data-part-position="{{position_id}}">Pick New Part</div>
          {{#if part_equipped}}
          <div class="btn waves-effect waves-light remove-part" data-user-id="{{user_id}}" data-robot-id="{{robot_id}}" data-part-position="{{position_id}}">Remove Part</div>
          {{/if}}
        </div>
      </div>
      
    </div>
    {{/each}}

    <div class="row center-align">
      <div class="btn to-robots" data-user-id="{{user_id}}">Back</div>
    </div>
    
  </div>
</div>

<script src="/assets/scripts/robotbay.js"></script>
<style>
   .backGroundImage {
  background-image:url("https://wallpapertag.com/wallpaper/full/d/b/5/671956-best-battle-mech-wallpaper-3120x1755.jpg"), url("https://geekreply.com/wp-content/uploads/2017/09/LeftAliveConceptArt2.jpg");
  background-repeat: no-repeat,no-repeat;
  background-position: top, bottom;
  background-attachment: fixed;
  }
</style>