<div class="row">
  <div class="col s8 offset-s2">

    <div class="row center-align">
      <h3>{{robot_name}}</h3>
    </div>
      

    {{#each robot_parts}}
    <div class="card grey">
      <div class="row">
        <div class="col s8">
          <h4>{{description}}</h4>
          <h5>Current Part: {{part_name}}</h5>
          <p>Attack rating: {{damage}}</p>
          <p>Defense rating: {{armor}}</p>
        </div>

        <div class="col s4">
          {{!-- if condition no part then change text to be add part --}}
          <div class="btn dualcolorbutton replace-part" data-user-id="{{user_id}}" data-robot-id="{{robot_id}}" data-part-position="{{position_id}}">Replace</div>
        </div>
      </div>
      
    </div>
    {{/each}}

    <div class="row center-align">
      <div class="btn to-robots" data-user-id="{{user_id}}">Back</div>
    </div>
    
  </div>
</div>

<script src="/assets/scripts/robotbay.js"></script>